{% extends "base.html" %}

{% block main_content %}
<div class="wrapper">
    <div class="mid-fade">
    </div>

    <div class="bg-buy-1 content-section" id="buy-section">
        <div class="bg-buy-2">
            <div class="fade-up"></div>
            {% include "home/buy.html" %}
            <div class="fade-down"></div>
        </div>
    </div>

    <div class="mid-fade">
    </div>

    <div class="bg-roadmap-1 content-section" id="roadmap-section">
        <div class="bg-roadmap-2">
            <div class="fade-up"></div>
            {% include "home/roadmap.html" %}
            <div class="fade-down"></div>
        </div>
    </div>

    <div class="mid-fade">
    </div>

    <div class="bg-tokenomics-1 content-section" id="tokenomics-section">
        <div class="bg-tokenomics-2">
            <div class="fade-up"></div>
            {% include "home/tokenomics.html" %}
            <div class="fade-down"></div>
        </div>
    </div>

    <div class="mid-fade">
    </div>

    <div class="bg-test-1 content-section" id="test-section">
        <div class="bg-test-2">
            <div class="fade-up"></div>
            {% include "home/test.html" %}
            <div class="fade-down"></div>
        </div>
    </div>

    <div class="mid-fade">
    </div>
    
</div>
{% endblock %}
