.bg-buy-1,
.bg-buy-2 {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(var(--angle-buy),
                var(--gradient-buy));
}

.bg-roadmap-1,
.bg-roadmap-2 {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(var(--angle-roadmap),
                var(--gradient-roadmap));
}

.bg-tokenomics-1 {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(var(--angle-tokenomics),
                var(--gradient-tokenomics));
}

.bg-tokenomics-2 {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(var(--angle-tokenomics),
                var(--gradient-tokenomics));
}

#site-footer {
    padding: 35px 0;
    text-align: center;
}


@media (max-width: 1350px) {
    .nav-fade {
        height: 75px;
    }
}
