.weight-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 50px auto;
    padding: 0 1.5% 0 0.5%;
    box-sizing: border-box;
}

.weight-graph-title {
    /* font-size: 2rem; */
    font-weight: 600;
    margin-bottom: 20px;
}

.weight-graph-image {
    display: block;
    width: calc(100% - 40px);
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background: transparent;
}
