.login-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-flash {
    text-align: center;
    font-style: italic;
}

.login-flash p {
    font-size: 1.2rem;
}

.login-form {
    display: flex;
    visibility: visible;
    flex-direction: column;
    width: min(455px, 80vw);
    margin: 0 auto;
}

@media (max-width: 1350px) {
    .about {
        gap: 5%;
    }
    .about-header {
        gap: 50px;
        width: 350px;
        padding-top: 50px;
    }
    .about-form {
        padding-top: 50px;
    }
}

@media (max-width: 992px) {
    .about {
        flex-direction: column;
    }
    .about-header {
        width: 700px;
        padding-top: 50px;
    }    
}
