{% extends "base.html" %}

{% block main_content %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<div class="weight-graph">
    <h2 class="weight-graph-title">{{ title }}</h2>
    <picture>
      <source media="(min-width: 768px)" srcset="{{ url_for('static', filename=path_l) }}">
      <source media="(max-width: 767px)" srcset="{{ url_for('static', filename=path_s) }}">
      <img src="{{ url_for('static', filename=path_s) }}" alt="Weight Progress Graph" class="weight-graph-image">
    </picture>
</div>

{% endblock %}