.container {
    max-width: 1200px;
    margin: 0 auto;
}

.tracking-content {
    padding: 0 50px;
    position: relative;
}


table {
    width: 100%;
    border-spacing: 0;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(190, 190, 190, 0.1);
}

th {
    font-weight: bold;
    background-color: var(--white-highlighted);
}

tr:hover {
    background-color: var(--white-highlighted);
}

.details-btn {
    padding: 8px 15px;
    border: none;
    background: var(--green);
    cursor: pointer;
    transition: all 0.3s ease;
}

.details-btn:hover {
    background: rgba(76, 175, 80, 1);
    transform: translateY(-2px);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background-color: var(--muted);
}

.modal-content {
    max-width: 800px;
    width: 80%;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid var(--text-unhovered);
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background-color: var(--black-100);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: var(--text-unhovered);
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: var(--text-white);
    cursor: pointer;
}

pre {
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    color: var(--text-white);
    border: 1px solid var(--seperator);
}

.no-data {
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    color: var(--text-unhovered);
}



@media (max-width: 768px) {
    .tracking-content {
        padding: 0 15px;
    }
    .unimportant,
    .super-unimportant {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .tracking-content {
        padding: 0 35px;
    }
    .super-unimportant {
        display: none;
    }
}
