.weight-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.weight-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    padding-bottom: 10px;
    margin-bottom: 100px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.2);
}

.weight-form {
    display: flex;
    visibility: visible;
    flex-direction: column;
    width: min(455px, 75vw);
    margin: 0 auto;
}